:root {
    font-size: 16px;
}

* {
    color:inherit;
}


body {
    background-image: url(./images/bg.jpg);
    background-color: rgba(252, 252, 252, 0.79);
    background-blend-mode: overlay;
    background-attachment: fixed;
}

.header {
    display:flex;
    width: 100%;
    background-color: #111111;
    color: white;
    font-size: 1rem;
    padding: 20px;
    justify-content: space-between;
  /*  background-image: ;*/

}


.listpoint{

    background-color: black;
    opacity:1;
}

.menu:hover .container{


visibility:visible;
z-index:2;
transition: 0.5s ;
}




.listheader-menu{

margin-top:15%;
margin-left:5%;
margin-right:5%;
opacity:1;
background-color: black;

}


.container{

background-color: black;
position:fixed;
top:0;
bottom:0;
left:80%;
width:40%;
z-index:1;
visibility:hidden;
opacity:1;
transition: all 1s easy;
}








.hrheaderlist{

color:grey;
width:45%;
margin-left:0%;

}


.listtext{

font-size: larger;


}

.listtext p{

    color:grey;

}





.menu{

display:flex;
flex-direction: row;



}



.menu-title{


margin-top:5%;

}


.banner {
    min-height: 80vh;
    max-height: 80vh;
    background-color: #ce1b28;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.banner::before, .banner::after{
    display: block;
    content: '';
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.banner::before {
    background-color: #111111;
}

.banner::after {
    background: linear-gradient(135deg, #ce1b28 0%, #111111 74%);
}

.banner video, .banner-text {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
 
}

.banner-text {
    z-index: 2;
    
}

.text-title {

font-size: 150%;

}



.title-site h1{

    font-size:350%;
    font-weight:100;
}


.title-site{

margin-top: 15%;
}




.features-wrapper {
   /* background-color: rgb(238, 235, 235);*/
    margin-top: 10%;
    margin-bottom: 10%;
}






.card-wrapper {

  /*  margin-bottom: 10%;*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:120%;
    margin-left:-10%;
}


.title{

    margin-top:-20%;  
    

}


.title h1{

font-size:1.2em;
color:#817b7b;
    
}

.text-feature{

margin-top:40%;


}


.icon{

    height:50%; 
    margin-left:33.3%;
    margin-top:20%;

}

.fa fa-address-card-o{

    height:90%; 


}





.feature-card {
    width: 310px;
    height: 340px;
    border: 1px solid white;
    margin-top: 10%;
    background-color: white;
    border-radius:1%;
}


.parallax-wrapper {
    background-image: url(./images/cta01.jpg);
    background-color: #ce1b2756;
    background-blend-mode: overlay;
    background-attachment: fixed;
    height: 350px;
    width: 100%;
}

.feedback-wrapper {
}



.max-width {
    max-width: 80vw;
    margin: 0 auto;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: stretch;

}

.flex-column{

    display: flex;
    flex-direction: column;
   
}



.textonred {

    font-size: 1.05em;
    text-align: center;


}



.white-text {
    color: white;
}

 .space-evently{
    
    justify-content: space-evenly;

}

.flex-column stretch{

    justify-content: stretch;

}

/*.card-wrapper flex-row  .flex-column stretch  .icon{

  height:300px;      

}*/





/*.features-wrapper .flex-column-center .max-width  .flex-column-center h2 {

    font-size: 10px;
    
}*/

h2{

    font-size: 200%;
    color:#555555;
    
  
}

.flex-column-center p
{
   margin-top: 5%;
   font-size: 1.05em; 
   color:#555555;
}

.white-text h2
{
margin-top:10%;
color:white;
}

.white-text p{
    
    color:rgb(211, 203, 203);
}

p .string{
    color:rgb(211, 203, 203);

}

.title-bottom h2{

    margin-top:10%;

}

.title-bottom p{

    margin-top:-5%;
    margin-bottom:10%;

}

.footer{

    margin-top:8%; 

}

.list-bottom{

    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr;
    padding: 7em;

   
}

.footer {
    background-color: #111111;
}



.footer-article h2{
    font-size:1.4em;
   /* max-width: 50%;*/
    color:white;
    margin-top:-5%;
    
}

.footer-article p{
    
     color:rgb(112, 108, 108);
     margin-top: 4%;
     font-size: 1.17em;
     margin-top:10%;
    
 }

 .link-list{

 
  margin-left:15%;

 }



 .link-list h2{

   /* max-width: 50%;*/
    color:white;
    font-size:1.2em;
    margin-top:-5%;
 }

 .link-list li{
   
    color:rgb(165, 158, 158);
    margin-top: 4%;
    font-size: 1.17em;
    margin-top:5%;

 }

 ul.link-list hr{

     width:100%;
     height:1px;  
     background-color:grey; 

 }


.line-list{
    width:100%;
    height:1px;  
    background-color:grey; 
    margin-top:4%;

}



 .social-link{

    margin-left:20%;
 }

 .social-link h2{

    font-size:1.2em;
    color:white;
    margin-top:-7%;
 }

 .social-link li{

    color:rgb(112, 108, 108);
 }

 .line{
 /*   border-top:1px solid;*/
    height:1px;   
    width: 270%;
    /*font-weight: 10;*/
 /* border-radius: 10%; */
   background-color:grey;
    margin-top:5%;

 }

 .social-link li{
    margin-top:10%;
 }

 .organisation p{
    margin-top:15%;
    color:rgb(112, 108, 108);
    
 }

 .feedback{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  /*  padding: 7em;*/
     width:90%;
 } 


.feedback-card {
    width: 340px;  
    /*width: 85%;*/
    height: 280px;
   /* border: 1px solid black;*/
    padding-right: 10%;
   /* border-left:solid 0.5rem; */ 
    padding:8%;  
    background-color: white;
}

.vl {
  
    height: 100px;
    width:10px;
    color:grey;
}


.feedcont {
   
    height:150px;
    width: 250px;
  /*  border-left: solid 0.5rem;
    border-color: grey;
    */
}
.info{

    display:flex;
    flex-direction: row;

}

.border{
    height:150px;
    border-left: solid 0.5rem;
    border-color: rgb(180, 177, 177); 
}

.feedcont p{

margin-left:10%;

}

.text{

   margin-top:10%;

}

.pictfeedback{

    border-radius: 100%;
    /*height:100px;
    width: 200px;*/
    height:25%;
    width:20%;
}

.people {

    width:90%;
    display:flex;
    flex-direction:row;
   /* justify-content: space-between; */
   

}

.position{

    margin-top: 5%;
    margin-left:10%;
    display:flex;
    flex-direction:row;
   justify-content: space-evenly;
    width:70%;
  
}

.position p{

 font-size: 80%;

}

.name p{

margin-top:14%;
color:red;

}

.job p{
    margin-top:11%;

}

.company p{

/*margin-left:5%;*/

}

.list {

display:flex;
flex-direction:column;
/*justify-content: space-evenly;*/
margin-top:-5%;

}

.footer-icon{

    display:flex;
    flex-direction:row;
    font-size: 1em;

}

.footer-icon p{

margin-top:2%;
margin-left:3%;

}




/*@media screen and (min-width:300px) and (max-width :500px){

body{

    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/*font: inherit;
	vertical-align: baseline;*/
   /* width:500px;
   


}


header{

width:100px;


}

}
*/

@media screen and (max-width: 400px){
 :root {
        font-size: 16px;
       
 }

body{                               



/*width:100%;*/
width:100vw;
/*min-width: 255%;*/
overflow-y:hidden;  /*для вертикального*/
overflow-x:hidden;  /*для горизонтального*/
background-blend-mode: overlay;
background-attachment: scroll;

}



.header {
    /*min-width: 320px;
    max-width: 480px;*/
   /* max-width:100%;*/
   width:100vw;
}





.menu{

    display:flex;
    flex-direction: row;
    margin-right:15%;
    
    
    }


.menu:hover .container{


    visibility:visible;
    z-index:2;
    transition: 0.5s ;
    max-width:40vw;
    }
    
    
    
    
    .listheader-menu{
    
    margin-top:15%;
    margin-left:5%;
    margin-right:5%;
    opacity:1;
    background-color: black;
    
    }
    
    
    .container{
    
    background-color: black;
    position:fixed;
    top:0;
    bottom:0;
    left:20%;
    /*width:40%;*/
    z-index:1;
    visibility:hidden;
    opacity:1;
    transition: all 1s easy;
    }
    

    .title-site h1{

        font-size:250%;
        font-weight:100;
    }

}